*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  width: 100%;
  padding:20px 0;
  margin: 0 auto;
  text-align: center;

}
nav{
  margin: 0 auto;
  border-top:solid;
  border-bottom:solid;  
}


.nav-list{
  margin: 15px 0;
  list-style: none;
  display: flex;
  justify-content:center;
}

.nav-list-item{
  margin: 0 20px;
}


.main{
  margin: 50px auto;
  width: 800px;
  height: 600px;
  display:flex;
  flex-wrap:wrap;
}

.colorbox1{
  flex-basis:200px;
  background-color: #e6ffe9;
}
.colorbox2{
  flex-basis:200px;
  background-color: #cdffd3;
}
.colorbox3{
  flex-basis:200px;
  background-color: #aeffbd;
}
.colorbox4{
  flex-basis:200px;
  background-color: #93ffab;
}
.colorbox5{
  flex-basis:200px;
  background-color: #f3ffd8;
}
.colorbox6{
  flex-basis:200px;
  background-color: #edffbe;
}
.colorbox7{
  flex-basis:200px;
  background-color: #e9ffa5;
}
.colorbox8{
  flex-basis:200px;
  background-color: #e4ff8d;
}
.colorbox9{
  flex-basis:200px;
  background-color: #d9e5ff;
}
.colorbox10{
  flex-basis:200px;
  background-color: #bad3ff;
}
.colorbox11{
  flex-basis:200px;
  background-color: #a4c6ff;
}
.colorbox12{
  flex-basis:200px;
  background-color: #8eb8ff;
}


footer{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  line-height: 120px;
  background-color: #848282;
  text-align: center;
  
}

.footer-text{
  color:#fff;
}


